# Task 1 (3 points)

The text and solution for the task from workshop 4 is given below.

Your task is to try and understand the code and explain in one text box what each part of the code does.

Then, think of one more functionality that is suitable using this data and add it to the solution.

____________________________________

You are given a DataFrame containing data about students’ scores in different subjects.

The DataFrame has the following columns:

    Name: Student's name
    Math: Score in Math (out of 100)
    Science: Score in Science (out of 100)
    English: Score in English (out of 100)
    History: Score in History (out of 100)
    Class: The class or grade the student belongs to (e.g., 10, 11, 12)

In [ ]:
import pandas as pd

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Henry'],
    'Math': [88, 92, 70, 65, 85, 77, 90, 95],
    'Science': [95, 88, 75, 80, 90, 70, 85, 93],
    'English': [78, 82, 65, 70, 88, 80, 92, 87],
    'History': [85, 78, 90, 72, 80, 88, 83, 91],
    'Class': [10, 10, 11, 11, 12, 12, 10, 11]
}

df = pd.DataFrame(data)

Solve the following problems:

1. Calculate Average Score for Each Student

    Write a function average_score(df) that calculates the average score across all subjects (Math, Science, English, and History) for each student. Add a new column Average to store each student’s average score.

2. Find Top Student in Each Class

    Write a function top_student_in_class(df) that returns the name of the student with the highest average score in each class (10, 11, and 12). Use the Average column from the previous function.

3. Calculate Class Averages by Subject

    Write a function class_averages_by_subject(df) that calculates the average score for each class in each subject and returns the results as a new DataFrame with Class as the index and subject names as columns.

4. Identify Students Needing Improvement

    Write a function students_needing_improvement(df, threshold=70) that finds students with an average score below a given threshold (default is 70). The function should return a DataFrame with the names and average scores of these students.

5. Rank Students by Total Score

    Write a function rank_students(df) that ranks students based on their total score across all subjects. Add a Total Score column with the sum of scores in all subjects and a Rank column based on descending order of the total score.

### Solution

In [ ]:
df

      Name  Math  Science  English  History  Class
0    Alice    88       95       78       85     10
1      Bob    92       88       82       78     10
2  Charlie    70       75       65       90     11
3    David    65       80       70       72     11
4      Eva    85       90       88       80     12
5    Frank    77       70       80       88     12
6    Grace    90       85       92       83     10
7    Henry    95       93       87       91     11

In [ ]:
def average_score(df):
    df['Average'] = df[['Math', 'Science', 'English', 'History']].mean(axis=1)
    return df

In [ ]:
def top_student_in_class(df):
    top_students = df.loc[df.groupby('Class')['Average'].idxmax()][['Class', 'Name', 'Average']]
    return top_students

In [ ]:
def class_averages_by_subject(df):
    class_avg = df.groupby('Class')[['Math', 'Science', 'English', 'History']].mean()
    return class_avg

In [ ]:
def students_needing_improvement(df, threshold=70):
    underperforming = df[df['Average'] < threshold][['Name', 'Average']]
    return underperforming

In [ ]:
def rank_students(df):
    df['Total Score'] = df[['Math', 'Science', 'English', 'History']].sum(axis=1)
    print("Total Scores:\n", df[['Name', 'Total Score']])

    df = df.sort_values(by='Total Score', ascending=False).reset_index(drop=True)
    print("\nDataFrame after sorting by Total Score:\n", df[['Name', 'Total Score']])

    df['Rank'] = df.index + 1
    print("\nDataFrame with assigned ranks:\n", df[['Name', 'Total Score', 'Rank']])

    return df

In [ ]:
df_with_avg = average_score(df.copy())
print("DataFrame with Average Scores:\n", df_with_avg)

top_students = top_student_in_class(df_with_avg)
print("\nTop Student in Each Class:\n", top_students)

class_avg = class_averages_by_subject(df.copy())
print("\nClass Averages by Subject:\n", class_avg)

students_below_80 = students_needing_improvement(df_with_avg, threshold=80)
print("\nStudents Needing Improvement (average score < 80):\n", students_below_80)

df_ranked = rank_students(df.copy())
print("\nDataFrame with Ranked Students:\n", df_ranked)

DataFrame with Average Scores:
       Name  Math  Science  English  History  Class  Average
0    Alice    88       95       78       85     10    86.50
1      Bob    92       88       82       78     10    85.00
2  Charlie    70       75       65       90     11    75.00
3    David    65       80       70       72     11    71.75
4      Eva    85       90       88       80     12    85.75
5    Frank    77       70       80       88     12    78.75
6    Grace    90       85       92       83     10    87.50
7    Henry    95       93       87       91     11    91.50

Top Student in Each Class:
    Class   Name  Average
6     10  Grace    87.50
7     11  Henry    91.50
4     12    Eva    85.75

Class Averages by Subject:
             Math    Science  English    History
Class
10     90.000000  89.333333     84.0  82.000000
11     76.666667  82.666667     74.0  84.333333
12     81.000000  80.000000     84.0  84.000000

Students Needing Improvement (average score < 80):
       Name  Average
2  Charlie    75.00
3    David    71.75
5    Frank    78.75
Total Scores:
       Name  Total Score
0    Alice          346
1      Bob          340
2  Charlie          300
3    David          287
4      Eva          343
5    Frank          315
6    Grace          350
7    Henry          366

DataFrame after sorting by Total Score:
       Name  Total Score
0    Henry          366
1    Grace          350
2    Alice          346
3      Eva          343
4      Bob          340
5    Frank          315
6  Charlie          300
7    David          287

DataFrame with assigned ranks:
       Name  Total Score  Rank
0    Henry          366     1
1    Grace          350     2
2    Alice          346     3
3      Eva          343     4
4      Bob          340     5
5    Frank          315     6
6  Charlie          300     7
7    David          287     8

DataFrame with Ranked Students:
       Name  Math  Science  English  History  Class  Total Score  Rank
0    Henry    95       93       87       91     11          366     1
1    Grace    90       85       92       83     10          350     2
2    Alice    88       95       78       85     10          346     3
3      Eva    85       90       88       80     12          343     4
4      Bob    92       88       82       78     10          340     5
5    Frank    77       70       80       88     12          315     6
6  Charlie    70       75       65       90     11          300     7
7    David    65       80       70       72     11          287     8

### Solution

Explain what each part of the code does

1. The function average_score(df) calculates the average score for each student for all four subjects (Math, Science, English and History). The result is stored in a new column Average for each students average score. The average is calculated with .mean(axis=1) which calculates the mean for each row.

2. The function top_student_in_class(df) returns the top student in each class (10, 11 and 12) with the highest average score. By using the average column from the previous function, we groupby('Class') to group the data by class and then with idxmax() we the index of the student with the highest average score.

3. The function class_averages_by_subject(df) calculates the average score for each class in each subject. We groupby('Class') to group the data foreach class by selecting the four subjects. The average is calculated with .mean() for each subject within each class.

4. The function students_needing_improvement(df, threshold=70) finds students with an average score below a given threshold where default is 70. We find those students by checking where the value in column Average is less than the threshold (70). This returns the Name and Average for underperfoming students.

5. The function rank_students(df) that ranks students based on their total score across all subjects. We add new column Total Score where we sum the values for all four subjects for each student (row) which is achieved with sum(axis=1). By setting the ascending to false, we sort the students scores by descending order. We then create a new column Rank that assigns ranks to the students. Since the index starts from 0, with df.index + 1 we add 1 to get the correct rank.

6. I added additional functionality that counts number of students per class. We create a new column Number of Students with the value_counts() to count the number of students for each class. We use the map() to apply the value to the Class column.

In [ ]:
def students_per_class_count(df):
    df['Number of Students'] = df['Class'].map(df['Class'].value_counts())
    return df

In [ ]:
students_count = students_per_class_count(df.copy())
print("DataFrame with Number of Students in each Class:\n", students_count)

DataFrame with Number of Students in each Class:
       Name  Math  Science  English  History  Class  Number of Students
0    Alice    88       95       78       85     10                   3
1      Bob    92       88       82       78     10                   3
2  Charlie    70       75       65       90     11                   3
3    David    65       80       70       72     11                   3
4      Eva    85       90       88       80     12                   2
5    Frank    77       70       80       88     12                   2
6    Grace    90       85       92       83     10                   3
7    Henry    95       93       87       91     11                   3

# Task 2 (5 points + 2 bonus points)

You are analyzing climate data collected from various cities over a 10-day period.

The data includes:

- **Cities**: A list of 6 city names.
- **Temperature Data**: A NumPy array of shape (10, 6) representing daily average temperatures (in °C) for each city.
- **Humidity Data**: A second NumPy array of shape (10, 6) representing daily average humidity levels (as percentages) for each city.

Tasks:

- **Total Temperature and Humidity Per City**
    Write a function total_temp_and_humidity_per_city(temp_df, humidity_df) that calculates the total temperature and total humidity for each city over the 10 days. Return a DataFrame where each row represents a city and contains two columns: total temperature and total humidity.

- **Average Daily Conditions**
    Write a function average_daily_conditions(temp_df, humidity_df) that calculates the average temperature and average humidity per day across all cities. Return a DataFrame where each row represents a day and contains two columns: average temperature and average humidity.

- **Hottest and Most Humid City Each Day**
    Write a function extreme_conditions_each_day(temp_df, humidity_df) that identifies both the hottest city and the most humid city for each day. Return a DataFrame with columns for each day’s hottest city and most humid city.

- **Normalized Temperature and Humidity**
    Write a function normalized_temp_and_humidity(temp_df, humidity_df) that normalizes both temperature and humidity values for each city across the 10 days (scaling values between 0 and 1 for each city). Return two normalized DataFrames, one for temperature and one for humidity.

- **Days with Temperature-Humidity Discrepancies**
    Write a function temp_humidity_discrepancies(temp_df, humidity_df, threshold) that finds days where the absolute difference between temperature and humidity (for each city) exceeds a specified threshold. Return a dictionary where each city is a key, and the value is a list of days where this discrepancy occurs.

- **Bonus Task: Overall Climate Pattern Detection**
    Write a function climate_pattern_detection(temp_df, humidity_df) that categorizes each day based on the average temperature and humidity as one of the following: "Hot and Dry", "Hot and Humid", "Cold and Dry", or "Cold and Humid". Use thresholds of 20°C for temperature and 60% for humidity to define "hot" versus "cold" and "humid" versus "dry." Return a pandas Series where each entry is the category for that day.

In [1]:
import numpy as np
import pandas as pd

cities = ["City A", "City B", "City C", "City D", "City E", "City F"]
temperature_data = np.random.randint(-5, 35, size=(10, 6))
humidity_data = np.random.randint(30, 90, size=(10, 6))

temp_df = pd.DataFrame(temperature_data, columns=cities)
humidity_df = pd.DataFrame(humidity_data, columns=cities)

### Solution

In [9]:
def total_temp_and_humidity_per_city(temp_df, humidity_df):

    total_temp = temp_df.sum(axis=0) #calculate total temp with sum by axis 0 for each column per city
    total_humidity = humidity_df.sum(axis=0) #calculate total humidity with sum by axis 0 for each column per city

    result_df = pd.DataFrame({
        'Total Temperature': total_temp,
        'Total Humidity': total_humidity
    })

    return result_df

In [10]:
def average_daily_conditions(temp_df, humidity_df):

    avg_temp = temp_df.mean(axis=1) #calculate avg temp with mean by axis 1 for each row daily
    avg_humidity = humidity_df.mean(axis=1) #calculate avg humidity with mean by axis 1 for each row daily

    result_df = pd.DataFrame({
        'Average Temperature': avg_temp,
        'Average Humidity': avg_humidity
    })

    return result_df

In [11]:
def extreme_conditions_each_day(temp_df, humidity_df):

    hottest_cities = temp_df.idxmax(axis=1) #get hottest city with idxmax by axis 1 for each row daily
    most_humid_cities = humidity_df.idxmax(axis=1) #get most humid city with idxmax by axis 1 for each row daily

    result_df = pd.DataFrame({
        'Hottest City': hottest_cities,
        'Most Humid City': most_humid_cities
    })

    return result_df

In [13]:
def normalized_temp_and_humidity(temp_df, humidity_df):

    normalized_temp_df = temp_df.apply(lambda x: (x - x.min()) / (x.max() - x.min()), axis=0) #nrmalize the temperature by dividing by the range max - min for each column (axis=0)
    normalized_humidity_df = humidity_df.apply(lambda x: (x - x.min()) / (x.max() - x.min()), axis=0) #nrmalize the humidity by dividing by the range max - min for each column (axis=0)

    return normalized_temp_df, normalized_humidity_df

In [15]:
def temp_humidity_discrepancies(temp_df, humidity_df, threshold):
    discrepancies = {}

    for city in temp_df.columns: #iterate through each city
        abs_diff = abs(temp_df[city] - humidity_df[city]) #calculate abs difference between temperature and humidity
        discrepant_days = abs_diff[abs_diff > threshold].index.tolist() #check days where the absolute difference is bigger than the threshold
        discrepancies[city] = discrepant_days

    return discrepancies

In [14]:
def climate_pattern_detection(temp_df, humidity_df):

    avg_temp = temp_df.mean(axis=1) #calculate avg temperature with mean by axis 1 for each row daily
    avg_humidity = humidity_df.mean(axis=1) #calculate avg humidity with mean by axis 1 for each row daily

    def categorize_day(temp, humidity): #categorization cases
        if temp >= 20 and humidity < 60:
            return "Hot and Dry"
        elif temp >= 20 and humidity >= 60:
            return "Hot and Humid"
        elif temp < 20 and humidity < 60:
            return "Cold and Dry"
        else:
            return "Cold and Humid"

    categories = avg_temp.combine(avg_humidity, categorize_day)
    return pd.Series(categories, name="Climate Category") #return series

In [16]:
print(temp_df)
print(humidity_df)

total_conditions = total_temp_and_humidity_per_city(temp_df, humidity_df)
print("\nTotal Temperature and Humidity Per City:")
print(total_conditions)

average_conditions = average_daily_conditions(temp_df, humidity_df)
print("\nAverage Daily Conditions:")
print(average_conditions)

extreme_conditions = extreme_conditions_each_day(temp_df, humidity_df)
print("\nExtreme Conditions each day:")
print(extreme_conditions)

normalized_temp_df, normalized_humidity_df = normalized_temp_and_humidity(temp_df, humidity_df)
print("\nData Frame for Normalized Temperature Data:")
print(normalized_temp_df)
print("\nData Frame for Normalized Humidity Data:")
print(normalized_humidity_df)

discrepancies = temp_humidity_discrepancies(temp_df, humidity_df, 20)
print("\nDays with Temperature-Humidity Discrepancies:")
for city, days in discrepancies.items():
    print(f"{city}: {days}")

climate_categories = climate_pattern_detection(temp_df, humidity_df)
print("\nOverall Climate Pattern Detection:")
print(climate_categories)

   City A  City B  City C  City D  City E  City F
0       0      29      10      34      21       0
1      -4      25       0       8       9      15
2      13      -5      29      17       1      29
3      -4      25       9      26       8      15
4       3      17      31      20       1      -4
5       9       2      14      13      29       0
6      31      -3      14       5      24      28
7       3      14      22      24      20      30
8       5       7      27      19       5      21
9      33      -4      -4      14      -3      28
   City A  City B  City C  City D  City E  City F
0      85      49      39      47      39      69
1      87      45      75      56      43      77
2      72      32      51      79      75      52
3      75      85      40      71      35      79
4      44      59      32      53      42      72
5      76      60      66      87      51      47
6      87      42      58      87      39      85
7      47      47      36      87      48      74
8      87      69      62      44      60      66
9      72      43      43      55      33      75

Total Temperature and Humidity Per City:
        Total Temperature  Total Humidity
City A                 89             732
City B                107             531
City C                152             502
City D                180             666
City E                115             465
City F                162             696

Average Daily Conditions:
   Average Temperature  Average Humidity
0            15.666667         54.666667
1             8.833333         63.833333
2            14.000000         60.166667
3            13.166667         64.166667
4            11.333333         50.333333
5            11.166667         64.500000
6            16.500000         66.333333
7            18.833333         56.500000
8            14.000000         64.666667
9            10.666667         53.500000

Extreme Conditions each day:
  Hottest City Most Humid City
0       City D          City A
1       City B          City A
2       City C          City D
3       City D          City B
4       City C          City F
5       City E          City D
6       City A          City A
7       City F          City D
8       City C          City A
9       City A          City F

Data Frame for Normalized Temperature Data:
     City A    City B    City C    City D   City E    City F
0  0.108108  1.000000  0.400000  1.000000  0.75000  0.117647
1  0.000000  0.882353  0.114286  0.103448  0.37500  0.558824
2  0.459459  0.000000  0.942857  0.413793  0.12500  0.970588
3  0.000000  0.882353  0.371429  0.724138  0.34375  0.558824
4  0.189189  0.647059  1.000000  0.517241  0.12500  0.000000
5  0.351351  0.205882  0.514286  0.275862  1.00000  0.117647
6  0.945946  0.058824  0.514286  0.000000  0.84375  0.941176
7  0.189189  0.558824  0.742857  0.655172  0.71875  1.000000
8  0.243243  0.352941  0.885714  0.482759  0.25000  0.735294
9  1.000000  0.029412  0.000000  0.310345  0.00000  0.941176

Data Frame for Normalized Humidity Data:
     City A    City B    City C    City D    City E    City F
0  0.953488  0.320755  0.162791  0.069767  0.142857  0.578947
1  1.000000  0.245283  1.000000  0.279070  0.238095  0.789474
2  0.651163  0.000000  0.441860  0.813953  1.000000  0.131579
3  0.720930  1.000000  0.186047  0.627907  0.047619  0.842105
4  0.000000  0.509434  0.000000  0.209302  0.214286  0.657895
5  0.744186  0.528302  0.790698  1.000000  0.428571  0.000000
6  1.000000  0.188679  0.604651  1.000000  0.142857  1.000000
7  0.069767  0.283019  0.093023  1.000000  0.357143  0.710526
8  1.000000  0.698113  0.697674  0.000000  0.642857  0.500000
9  0.651163  0.207547  0.255814  0.255814  0.000000  0.736842

Days with Temperature-Humidity Discrepancies:
City A: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
City B: [2, 3, 4, 5, 6, 7, 8, 9]
City C: [0, 1, 2, 3, 5, 6, 8, 9]
City D: [1, 2, 3, 4, 5, 6, 7, 8, 9]
City E: [1, 2, 3, 4, 5, 7, 8, 9]
City F: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Overall Climate Pattern Detection:
0      Cold and Dry
1    Cold and Humid
2    Cold and Humid
3    Cold and Humid
4      Cold and Dry
5    Cold and Humid
6    Cold and Humid
7      Cold and Dry
8    Cold and Humid
9      Cold and Dry
Name: Climate Category, dtype: object